[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/HSZheng (rniczh)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/HSZheng (rniczh)
	label-Verified = -1..+1 group user/HSZheng (rniczh)
	push = group user/HSZheng (rniczh)
	read = group user/HSZheng (rniczh)
	rebase = group user/HSZheng (rniczh)
	removeReviewer = group user/HSZheng (rniczh)
	submit = group user/HSZheng (rniczh)
[access "refs/heads/*"]
	create = group user/HSZheng (rniczh)
	push = +force group user/HSZheng (rniczh)
	pushMerge = group user/HSZheng (rniczh)
	read = group user/HSZheng (rniczh)
[access "refs/tags/*"]
	push = group user/HSZheng (rniczh)
	push = +force group user/HSZheng (rniczh)
